.card-body
  .container.container-card
    .row
      .col-2
        %img.card-img-top{alt: "Card image cap", src: ""}
      .col-10
        %h4= position.name
        %h5=  "#{Position.human_attribute_name(position.career)} / #{position.state}"
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        .row
          .col-sm.mt-3
            = link_to 'Ver mais', public_position_path(position.slug), class: 'btn btn-danger'
            - if user_signed_in?
              - unless UserApplicantQuery.new(current_user.id, position.id).call
                = link_to 'Candidatar-se', public_position_path(position.slug), { remote: true, "data-target" => "#modal", 'data-backdrop' => 'static', 'data-keyboard' => false, "data-toggle" => "modal", class: 'btn btn-success' }
          .col-sm.text-right.mt-3.group-social-network
            = render partial: 'shared/social_position', locals: { position: position }
