%h1 Vagas Aplicadas
- if @applicants.size > 0
  = link_to "Exportar CSV", position_applicants_path(@position, format: 'csv'), class: "btn btn-primary"
  = link_to "Exportar Currículos", position_applicants_path(@position, format: 'zip'), class: "btn btn-primary"


%table.table
  - flash.each do |type, msg|
    %div{:class => "alert alert-primary"}
      = msg

  %thead.thead-dark
    %tr
      %th{:scope => "col"} Nome
      %th{:scope => "col"} E-mail
      %th{:scope => "col"} Telefone
      %th{:scope => "col"} Ações
  %tbody
    - @applicants.each do |applicant|
      %tr
        %th{:scope => "row"}= applicant.name
        %td= applicant.email
        %td= applicant.phone
        - if applicant.resume.present?
          %td= link_to "Download", rails_blob_path(applicant.resume, disposition: "attachment"), class: 'btn btn-warning'
        - else
          %td= link_to "Download", "#", class: "btn btn-secondary"
